<div class="row">
    <div class="col-lg-6 mb-3">
        <button class="btn btn-outline-secondary mr-3" (click)="onBackList()">Back to List</button>
        <button class="btn btn-success mr-3" (click)="onSubmitItemAdd()">Save Item</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-5 my-0">
        <input #uploadFile type="file" class="form-control-file mt-3" 
             id="uploadFile" name="uploadFile"
            (change)="handleFileInput($event.target.files)"/>
    </div>
    <div class="col-lg-7 my-0">
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Document Type<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <select class="form-control" name="docType" [(ngModel)]="requestItemData.docType">
                    <option [ngValue]="'PPM'">PPM</option>
                    <option [ngValue]="'SUBSCRIPTION_AGREEMENT'">SUBSCRIPTION_AGREEMENT</option>
                    <option [ngValue]="'SAFE_T'">SAFE_T</option>
                    <option [ngValue]="'SAFE_T_OR_SA'">SAFE_T_OR_SA</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Start Date<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <input class="form-control" name="startDate" [(ngModel)]="requestItemData.startDate"/>
            </div>
        </div>
    </div>


</div>
