<div [@routerTransition]>
    <app-page-header [heading]="'My DRXT Holdings'" [icon]="'fa-money'"></app-page-header>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center" *ngIf="holders">
                            <app-holders-datatable [holders]="holders"></app-holders-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
