<div class="row mb-0">
    <div class="col-lg-5">
        <input class="form-control"
               type='text'
               placeholder='Filter by Name and Description'
               (keyup)='updateFilter($event)'
        />
    </div>
    <div class="col-lg-3">
        <button class="btn btn-outline-secondary mr-3" (click)="onAddItem()">Add Item</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ngx-datatable
            #table
            class='bootstrap'
            style="margin-top: 1.2em; font-size: 1em;"
            [columnMode]="'force'"
            [headerHeight]="20"
            [footerHeight]="20"
            [rowHeight]="'auto'"
            [limit]="10"
            [selected]="selected"
            [selectionType]="'single'"
            (select)='onSelect($event)'
            [rows]='rows'>
            <ngx-datatable-column name="name">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="header-class">Name</div>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="description">
                <ng-template let-column="column" ngx-datatable-header-template>
                    <div class="header-class">Description</div>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.description}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
