<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">DATRIXO TOKEN SALE (STO)</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#investment">Request investment summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#holders">Holders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-5 my-auto">
        <div class="header-content mx-auto">
          <div class="text-center mb-5">
            <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
            <img src="assets/img/Datrixo-Big-Data-Company.png" class="img-fluid" alt="">
          </div>
          <div class="text-center">
            <a href="#investment" class="btn btn-outline btn-xl js-scroll-trigger mb-5">More info</a>
          </div>
          <div class="text-center mb-3 mt-3">
            <a href="#"><img src="assets/img/sec.png" alt=""></a>
          </div>
          <div class="text-center">
            <p>Filled with<br>Securities Exchange<br>Commission</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 my-auto">
        <h1 class="text-justify border-bottom pb-lg-3 mb-2">Datrixo is a New York - based company focused on Machine
          Intelligence (AI) and applications of AI in various industry sectors.</h1>
        <div class="text-center mt-4">
          <h4 class="mb-4">Purchase amount ($5,000 minimum)</h4>
          <div class="text-center pb-lg-3 mb-3">
            <a href="#investment" class="btn btn-outline btn-xl js-scroll-trigger mr-3">$5,000</a>
            <a href="#investment" class="btn btn-outline btn-xl js-scroll-trigger mr-3">$10,000</a>
            <a href="#investment" class="btn btn-outline btn-xl js-scroll-trigger">$20,000</a>
          </div>
          <div class="text-center border-bottom pb-lg-1 mb-3">
            <p>The account is: <a href="#">0xe5b25213d2F1cE8a998B632dc9d6c9719Eb993Ee</a></p>
          </div>
          <div class="text-center">
            <ul class="list-inline list-social">
              <li class="list-inline-item">
                Links
              </li>
              <li class="list-inline-item social-twitter">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item social-facebook">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item social-google-plus">
                <a href="#">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>

<section class="investment bg-primary text-center" id="investment">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">REQUEST INVESTMENT SUMMARY</h2>
        <div class="form-group row">
          <label for="senderName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="senderName" placeholder="your name">
          </div>
        </div>
        <div class="form-group row">
          <label for="senderEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="senderEmail" placeholder="e-mail">
          </div>
        </div>
        <div class="form-group row mb-5">
          <label for="senderType" class="col-sm-2 col-form-label">You name</label>
          <div class="col-sm-10">
            <select class="form-control" id="senderType">
              <option>Accredited US Investor</option>
              <option>Funds or Institiationals</option>
            </select>
          </div>
        </div>
        <div class="text-center">
          <a href="#investment" class="btn btn-outline-secondary btn-xl js-scroll-trigger mb-5">Apply</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="holders bg-secondary" id="holders">
  <div class="container">
    <div class="section-heading text-center">
      <h2 class="text-white">{{totalSupply}} / {{sold}}</h2>
      <p class="text-white-50">TOTAL SUPPLY / SOLD</p>
      <hr>
    </div>
    <div class="text-left text-white-50">
      <p>Holders: 20</p>
    </div>
    <div class="text-center text-white">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Holders</th>
          <th scope="col">Time/Date</th>
          <th scope="col">Share Tokens</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a href="#holders">0xe5b25213d2F1cE8a998B632dc9d6c9719Eb993Ee</a></td>
          <td>20 hrs 9 min ago</td>
          <td>100</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><a href="#holders">0xe5b25213d2F1cE8a998B632dc9d6c9719Eb993Ee</a></td>
          <td>25 hrs 40 min ago</td>
          <td>200</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><a href="#holders">0xe5b25213d2F1cE8a998B632dc9d6c9719Eb993Ee</a></td>
          <td>10 hrs 20 min ago</td>
          <td>300</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Stop waiting.<br>Start funding.</h2>
      <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
  <div class="container">
    <h2>We
      <i class="fas fa-heart"></i>
      new friends!</h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item social-google-plus">
        <a href="#">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; Your Website 2019. All Rights Reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">Privacy</a>
      </li>
      <li class="list-inline-item">
        <a href="#">Terms</a>
      </li>
      <li class="list-inline-item">
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

