<ngx-datatable
  #table
  class='bootstrap'
  style="margin-top: 1.2em; word-wrap: break-word; white-space: normal;"
  [columnMode]="'force'"
  [headerHeight]="20"
  [footerHeight]="20"
  [rowHeight]="'auto'"
  [limit]="10"
  [rows]='rows'>
  <ngx-datatable-column name="address">
    <ng-template let-column="column" ngx-datatable-header-template>
      <div class="header-class"></div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      Transaction Id <a href="https://ropsten.etherscan.io/address/{{row.address}}" target="_blank">
          <i class="fa fa-external-link-square"></i></a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="timeDate">
    <ng-template let-column="column" ngx-datatable-header-template>
      <div class="header-class">Date</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.timeDate | date}}
    </ng-template>
  </ngx-datatable-column>
    <ngx-datatable-column name="share">
        <ng-template let-column="column" ngx-datatable-header-template>
            <div class="header-class">Equity (%)</div>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.share}}
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
