<div class="row">
    <div class="col-lg-6 mb-3">
        <button class="btn btn-outline-secondary mr-3" (click)="onBackList()">Back to List</button>
        <button class="btn btn-success mr-3" (click)="onSubmitItemAdd()">Save Item</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-7 my-0">
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Document File<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <input #uploadFile type="file" class="form-control-file form-control-sm mt-1"
                                       id="agreementFile"
                                       (change)="handleFileInput($event.target.files)"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">User<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <select class="form-control" [(ngModel)]="requestItemData.user" name="user">
                    <option *ngFor="let user of (users || [])" [value]="user.username">{{ user.username }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Load Date<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Date</mat-label>
                    <input matInput [matDatepicker]="picker" 
                           [(ngModel)]="selectedDate"
                           (dateChange)="onDateChange($event)"
                           name="loadDate"
                           [min]="minDate"
                           [max]="maxDate"
                           readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker 
                                    startView="year" 
                                    [startAt]="startDate">
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>


</div>
