<div class="row">
    <div class="col-lg-6 mb-3">
        <button class="btn btn-outline-secondary mr-3" (click)="onBackList()">Back to List</button>
        <button class="btn btn-success mr-3" (click)="onSubmitItemAdd()">Save Item</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-5 my-0">

    </div>
    <div class="col-lg-7 my-0">
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Document File<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <input #uploadFile type="file" class="form-control-file form-control-sm mt-1"
                                       id="agreementFile"
                                       (change)="handleFileInput($event.target.files)"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Document Type<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <input class="form-control" name="docType" [(ngModel)]="requestItemData.docType"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Load Date<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <input class="form-control" name="loadDate" [(ngModel)]="requestItemData.loadDate"/>
            </div>
        </div>
    </div>


</div>
