<div [@routerTransition]>
    <app-page-header [heading]="'Invest'" [icon]="'fa-money'"></app-page-header>
    <div class="row">
        <div class="col-lg-5 my-auto">
            <div class="header-content mx-auto">
                <div class="text-center mb-5">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="assets/images/Datrixo-Big-Data-Company.png" class="img-fluid" alt="">
                </div>
                <div class="text-center">
                    <button class="my-btn my-btn-outline my-btn-xl mb-3" (click)="onNavigate()">
                        More info
                    </button>
                </div>
                <div class="text-center mb-3 mt-3">
                    <a href="https://www.sec.gov/" target="_blank"><img src="assets/images/sec.png" alt=""></a>
                </div>
                <div class="text-center">
                    <p class="mb-0">Filled with<br>Securities Exchange<br>Commission</p>
                    <p class="h6"><a href="https://www.sec.gov/" target="_blank">[View]</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 my-auto">
            <h5 class="text-justify border-bottom pb-lg-3 mb-3 font-weight-normal">Datrixo Inc Token (DRX)</h5>
            <h5 class="text-justify border-bottom pb-lg-3 mb-3 font-weight-normal">Token Price - Contact Us</h5>
            <h5 class="text-justify border-bottom pb-lg-3 mb-3 font-weight-normal">Datrixo is a New York - based company
                focused on Machine
                Intelligence (AI) and applications of AI in various industry sectors. <span class="h6"><a
                    href="http://datrixo.com/" target="_blank">[Website]</a></span></h5>
            <div class="mt-4">
                <div class="border-bottom pb-lg-1 mb-3">
                    <h5 class="font-weight-normal">The account is: <span class="h6"><a
                        href="https://ropsten.etherscan.io/address/0x664dc963c77972a174eec4c9b2574bcdc52f6ad1"
                        target="_blank">
              0x664DC963C77972a174eEc4C9b2574BcDc52F6Ad1</a></span></h5>
                </div>
                <div>
                    <ul class="list-inline list-social">
                        <li class="list-inline-item">
                            <h5 class="font-weight-normal">Links:</h5>
                        </li>
                        <!--<li class="list-inline-item social-twitter">
                          <a href="#">
                            <i class="fab fa-twitter"></i>
                          </a>
                        </li>-->
                        <li class="list-inline-item social-facebook">
                            <a href="http://datrixo.com/" target="_blank">
                                [Website]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <h4 class="card-header">PPM</h4>
                <div class="card-body">
                    <h5 class="card-title">Private Placement Memorandum</h5>
                    <p class="card-text">Prior to making an investment, please review the Offering Terms in PPM.</p>
                    <div class="text-center">
                        <button class="my-btn my-btn-outline my-btn-xl" (click)="onSubmitPPMDownload()">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <h4 class="card-header">Buy tokens</h4>
                <div class="card-body">
                    <h5 class="card-title">$5,000 minimum</h5>
                    <p class="card-text">Please, chose number of shares tokens to purchase,
                        download the appropriate invoice that includes payment instructions and remit the payment to:
                        Datrixo Inc.</p>
                    <fieldset class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optAmounts" id="opt1500" value="opt1500" checked=""> $1,500
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optAmounts" id="opt3000" value="opt3000"> $3,000
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optAmounts" id="opt6000" value="opt6000"> $6,000
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optAmounts" id="opt12000" value="opt12000"> $12,000
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optAmounts" id="opt24000" value="opt24000"> $24,000
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optAmounts" id="opt30000" value="opt30000"> $30,000
                            </label>
                        </div>
                    </fieldset>
                    <div class="text-center">
                        <button class="my-btn my-btn-outline my-btn-xl" (click)="onSubmitGetInvoice()">
                            Get Invoice
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <h4 class="card-header">Agreement</h4>
                <div class="card-body">
                    <h5 class="card-title">Subscription Agreement</h5>
                    <p class="card-text">Please, upload, sign and send us the PDF of the signed Subscription
                        Documents.</p>
                    <div class="text-center">
                        <button class="my-btn my-btn-outline my-btn-xl" (click)="onSubmitPPMDownload()">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-12 mt-3 p-4 border-left-0 border-right-0">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="row my-auto">
                    <label class="col-lg-4 mt-3" for="agreementFile">Upload signed agreement here</label>
                    <input #uploadFile type="file" class="col-lg-4 form-control-file mt-3" id="agreementFile"
                           (change)="handleFileInput($event.target.files)"/>
                    <button class="col-lg-2 my-btn my-btn-outline my-btn-xl mt-3"
                            (click)="onSubmitSignedAgreementUpload()">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-lg-12 mt-3 p-4 border-top-0 border-left-0 border-right-0">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <table style="margin: 0 auto;">
                    <tr>
                        <td class="text-center"><h4>Total Supply</h4></td>
                        <td class="text-center"><h4>/</h4></td>
                        <td class="text-center"><h4>Sold</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-center">{{totalSupply}}</td>
                        <td class="text-center">/</td>
                        <td class="text-center">{{sold}}</td>
                        <td>(tokens sold)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="card col-lg-12 mt-3 p-4 border-top-0 border-left-0 border-right-0">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h4 class="text-center">Holders</h4>
                <div class="row">
                    <div class="col-md-2">
                        Holders: <a href="">{{holdersCount}}</a>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <!--<a href="">View all</a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center" *ngIf="holders">
                            <app-holders-datatable [holders]="holders"></app-holders-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
