<div [@routerTransition]>
    <app-page-header [heading]="'Invest'" [icon]="'fa-money'"></app-page-header>
    <div class="row">
        <div class="col-lg-5 my-auto">
            <div class="header-content mx-auto">
                <div class="text-center mb-5">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="assets/images/Datrixo-Big-Data-Company.png" class="img-fluid" alt="">
                </div>
                <div class="text-center">
                    <button class="my-btn my-btn-outline my-btn-xl mb-3">More info</button>
                </div>
                <div class="text-center mb-3 mt-3">
                    <a href="#"><img src="assets/images/sec.png" alt=""></a>
                </div>
                <div class="text-center">
                    <p class="mb-0">Filled with<br>Securities Exchange<br>Commission</p>
                    <p class="h6"><a href="#">[View]</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 my-auto">

        </div>
    </div>

</div>
