container_commands:
  01_replace_apache_server:
    command: "cp -f .ebextensions/elasticbeanstalk.conf /etc/httpd/conf.d/elasticbeanstalk.conf"
  02_setup_apache_compression:
    command: "cp -f .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  03_restart_httpd:
    command: "/etc/init.d/httpd restart"