<div class="row mb-0">
    <div class="col-lg-5">
        <input class="form-control"
               type='text'
               placeholder='Filter by Document Type and Start Date'
               (keyup)='applyFilter($event)'
        />
    </div>
    <div class="col-lg-3">
        <button class="btn btn-outline-secondary mr-3" (click)="onAddItem()">Add Item</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="docType">
                    <th mat-header-cell *matHeaderCellDef> Document Type</th>
                    <td mat-cell *matCellDef="let element" data-label='docType'>
                        <span  class="m-card-title" *ngIf="element.docType">{{element.docType | truncate:[90]}}</span></td>
                </ng-container>

                <ng-container matColumnDef="actual">
                    <th mat-header-cell *matHeaderCellDef> Actual</th>
                    <td mat-cell *matCellDef="let element" data-label='actual'>
                        <span  class="m-card-text" *ngIf="element.actual">{{element.actual | truncate:[90]}}</span></td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> Last Name</th>
                    <td mat-cell *matCellDef="let element" data-label='startDate'>
                        <span  class="m-card-text" *ngIf="element.startDate">{{element.startDate | truncate:[90]}}</span></td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="star">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{elementId: element.id}">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [ngStyle]="{display: dataSourceLenth > 5 ? 'block' : 'none'}"
                       [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>


    <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-elementId="elementId">
            <button mat-menu-item
                    (click)="$event.preventDefault(); $event.stopPropagation(); onItemView(elementId)">
                <mat-icon>grade</mat-icon>
                <span>View</span>
            </button>
            <button mat-menu-item (click)="$event.preventDefault(); $event.stopPropagation(); onEditItem(elementId)">
                <mat-icon>build</mat-icon>
                <span>Edit</span>
            </button>
        </ng-template>
    </mat-menu>
</div>
