<div class="row">
  <div class="col-lg-8">
    <app-sales-profit></app-sales-profit>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12">
        <app-total-followers></app-total-followers>
      </div>
      <div class="col-12">
        <app-total-income></app-total-income>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <app-recent-activities></app-recent-activities>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <app-roi></app-roi>
        </div>
        <div class="col-12">
          <app-total-income></app-total-income>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-blog-card></app-blog-card>
    </div>
  </div>
