<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" />
            <h1>Investor Portal</h1>
            <div *ngIf="varStatus === 'LOGIN_NOT_FOUND'">Login not found</div>
            <div *ngIf="varStatus === 'PASSWORD_INVALID'">Password invalid</div>
            <form name="form" (ngSubmit)="onLoggedin()" #f="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="model.username" #username="ngModel" required class="form-control input-underline input-lg"
                               name="username" placeholder="Email">
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Email is required</div>
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="model.password" #password="ngModel" required class="form-control input-underline input-lg"
                               name="password" placeholder="Password">
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
                </div>
                <button class="btn rounded-btn" (click)="f.ngSubmit.emit()" [disabled]="!f.form.valid">{{ 'Log in' | translate }}</button>
                &nbsp;
                <!--<a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>-->
            </form>
        </div>
    </div>
</div>
