<div class="row">
    <div class="col-lg-6 mb-3">
        <button class="btn btn-outline-secondary mr-3" (click)="onBackList()">Back to List</button>
        <button class="btn btn-outline-secondary mr-3" (click)="onBackItem()">Back to Item</button>
        <button class="btn btn-outline-secondary mr-3" (click)="init()">Revert</button>
        <button class="btn btn-outline-success mr-3" (click)="onSubmitItemUpdate()">Update Item</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-7 my-0">
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Transaction Address<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <div class="input-group">
                    <input class="form-control" name="holderAccount" [(ngModel)]="requestItemData.holderAccount.address" [disabled]="true"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="openHoldingsModal()">
                            <i class="fa fa-list"></i> Select from list
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Load Date<sup
                class="h6 text-danger font-weight-bold">&lowast;</sup></label>
            <div class="col-lg-10">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Date</mat-label>
                    <input matInput [matDatepicker]="picker"
                           [(ngModel)]="selectedDate"
                           (dateChange)="onDateChange($event)"
                           name="loadDate"
                           [min]="minDate"
                           [max]="maxDate"
                           readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker
                                    startView="year"
                                    [startAt]="startDate">
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<!-- Modal window for holdings list -->
<div class="modal fade" [class.show]="showHoldingsModal" [style.display]="showHoldingsModal ? 'block' : 'none'"
     tabindex="-1" role="dialog" *ngIf="showHoldingsModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Holdings List</h5>
                <button type="button" class="close" (click)="closeHoldingsModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="loadingHoldings" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>Loading data...</p>
                </div>
                <div *ngIf="!loadingHoldings">
                    <div *ngIf="holdingsData.length === 0" class="alert alert-info">
                        No data found
                    </div>
                    <div *ngIf="holdingsData.length > 0">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Address</th>
                                        <th>Date</th>
                                        <th>Share Tokens</th>
                                        <th>Paid Price</th>
                                        <th>Share</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of holdingsData; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>
                                            <span *ngIf="item.address" class="text-break">
                                                <a href="https://{{etherNet}}/tx/{{item.address}}"
                                                    target="_blank"
                                                    title="{{item.address}}">
                                                    {{item.address | slice:0:30}}...</a>
                                            </span>
                                            <span *ngIf="!item.address">-</span>
                                        </td>
                                        <td>
                                            <span *ngIf="item.createDate">{{ item.createDate | date:'short' }}</span>
                                            <span *ngIf="!item.createDate">-</span>
                                        </td>
                                        <td>
                                            <span *ngIf="item.shareTokens">{{ item.shareTokens }}</span>
                                            <span *ngIf="!item.shareTokens">-</span>
                                        </td>
                                        <td>
                                            <span *ngIf="item.paidPrice">{{ item.paidPrice }}</span>
                                            <span *ngIf="!item.paidPrice">-</span>
                                        </td>
                                        <td>
                                            <span *ngIf="item.share">{{ item.share }}</span>
                                            <span *ngIf="!item.share">-</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-primary"
                                                    (click)="selectHolding(item)"
                                                    title="Select this item">
                                                <i class="fa fa-check"></i> Select
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeHoldingsModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade" [class.show]="showHoldingsModal" *ngIf="showHoldingsModal"></div>
