<div class="row mb-0">
    <div class="col-auto">
        <button class="btn btn-outline-secondary form-control" (click)="onAddItem()">Add User</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-secondary form-control mr-3"
                (click)="onRefresh()">Refresh
        </button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="imageContent">
                    <th mat-header-cell *matHeaderCellDef> Image</th>
                    <td mat-cell *matCellDef="let element" data-label='imageContent'>
                        <img [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + element.imageContent)"
                             width="33px" height="33px" class="img-fluid" alt="" *ngIf="element.imageContent"/>
                    </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username</th>
                    <td mat-cell *matCellDef="let element" data-label='username'>
                        <span  class="m-card-title" *ngIf="element.username">{{element.username | truncate:[90]}}</span></td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name</th>
                    <td mat-cell *matCellDef="let element" data-label='firstName'>
                        <span  class="m-card-text" *ngIf="element.firstName">{{element.firstName | truncate:[90]}}</span></td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name</th>
                    <td mat-cell *matCellDef="let element" data-label='lastName'>
                        <span  class="m-card-text" *ngIf="element.lastName">{{element.lastName | truncate:[90]}}</span></td>
                </ng-container>

                <ng-container matColumnDef="userType">
                    <th mat-header-cell *matHeaderCellDef> User Type</th>
                    <td mat-cell *matCellDef="let element" data-label='userType'>
                        <span  class="m-card-text" *ngIf="element.userType && element.userType == 'INDIVIDUAL'">Individual</span>
                        <span  class="m-card-text" *ngIf="element.userType && element.userType == 'COMPANY'">Corporate</span></td>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef> Company Name</th>
                    <td mat-cell *matCellDef="let element" data-label='companyName'>
                        <span  class="m-card-text" *ngIf="element.organization && element.organization.companyName">
                            {{element.organization.companyName | truncate:[90]}}</span></td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone</th>
                    <td mat-cell *matCellDef="let element" data-label='phone'>
                        <span  class="m-card-text" *ngIf="element.phone">{{element.phone}}</span></td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="star">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{elementId: element.id}">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [ngStyle]="{display: dataSourceLenth > 5 ? 'block' : 'none'}"
                       [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>


    <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-elementId="elementId">
            <button mat-menu-item
                    (click)="$event.preventDefault(); $event.stopPropagation(); onItemView(elementId)">
                <mat-icon>grade</mat-icon>
                <span>View</span>
            </button>
            <button mat-menu-item (click)="$event.preventDefault(); $event.stopPropagation(); onEditItem(elementId)">
                <mat-icon>build</mat-icon>
                <span>Edit</span>
            </button>
        </ng-template>
    </mat-menu>
</div>
